<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/main.bundle.css">
  <script src="/assets/main.bundle.js" defer></script>
  <title>{{ title }} | TEA Stack</title>

  {%- if meta_description %}
  <meta name="description" content="{{ meta_description }}">
  {% endif -%}

  {%- if robots_noindex %}
  <meta name="robots" content="noindex" />
  {% endif -%}

  {% include 'parts/favicon.njk' %}
  {% include 'parts/og.njk' %

  {% block head %}{% endblock %}
</head>
